.container
  .row
    .select-show
      .select-order
        .icon-select
        = select_tag 'facebook_user_order', options_for_select(@users_option), class: "table_tools color-border-select", onchange: "search()"
      .refresh-butom=link_to "", admin_facebook_users_path
    .facebook_users_download_links
      %span Exportar:
      %a{:href => "/admin/facebook_users/import_csv"} CSV 
  .row#index-facebook-user
    = render 'table_index_facebook_users', fusers: @fusers
    = hidden_field_tag "module", "facebook_user"
