.index_content
  %div.table_tools
    %div.batch_actions_selector.dropdown_menu.select-show
      .select-order
        .icon-select
        = select_tag 'category', options_for_select(@categorias), onchange: "select_by_category(this.value)", class: "dropdown_menu_button"
      .refresh-butom=link_to "", admin_post_comments_path(post_id: @post.try(:id))
      =hidden_field_tag "post_id", @post.try(:id) || nil
      =hidden_field_tag "current_category_id", ""
    .download_links
      %span EXPORTAR:
      %a{:href => "/admin/post_comments.csv"} CSV
  %div.index_as_table{id:"table_content_post_comments"}
    = render 'admin/posts/comments_table', q: @post_comments, account: @post.nil? ? Account.first : @post.post_creator.account 


#search-content




  
  	