%table#table_post_shared.index_table{:border => "0", :cellpadding => "0", :paginator => "true"}
  %tbody
    - s.each do |ps|
      %tr{:id => "post_shared_#{ps.id}"}
        %td
          %img.col-sm-2.img-responsive{:alt => "Image", :src => "#{ps.facebook_user.try(:fb_avatar).nil? ? '/assets/default-user.png' : ps.facebook_user.try(:fb_avatar)}", class: "img-circle img-shared"}/
          .col-sm-8
            .text-blue{:style => "font-weight: bold;"}= ps.facebook_user.fb_name
            .text-medium="#{ps.try(:created_at).strftime("Compartió el %m/%d/%Y")}"
