%li.select.input.required{id: "post_comment_post_id_input"}
	= label_tag "Publicación"
	= select_tag 'post_comment_post_id', options_for_select(q.map{|p| [p.title.truncate(30), p.id]}), include_blank: "Seleccionar una publicación", name: "post_comment[post_id]"