// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$skinActiveColor: #08ACD4;
$skinHeaderBck: #045B70;
$panelHeaderBck: #098CAB;
$skinLogo: none;


// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


#header h1.site_title {
  text-indent: 0%;
  padding-left: 20px;
img {
    height: 25px;
    margin-top: 7px;
  }
}

.cards, .index_as_block {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.card {
  flex: 0 1 24%;
  background: white;
  margin-right: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}

