// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$skinActiveColor: #fffff8;
$skinHeaderBck: #f7d5d5;
$panelHeaderBck: #fbc800;
$skinLogo: none;


// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
@import "bootstrap";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
// .status_tag { background: #6090DB; }


body {
  font-family: sans-serif;
}

body.active_admin, #wrapper{
  background: #f7f7f7 !important;
  padding-top: 1px;
}

#header{
  background: #fff;
  height: 80px;
  box-shadow: 0px 2px 7px 0px #d4d4d4;
  position: fixed;
  top: 0px;
  .header-item{
    top: 0px;
  }
  ul.tabs > li a {
    padding: 12px 12px 10px 15px;
    margin: 0;
    color: #b9b9b9;
    font-size: 15px;
  }
  ul > li#current_user{
    display: none;
  }
  ul > li#logout {
    list-style-image: asset_url("exit.png") !important;
  }
  #tabs {
    width: 59%;
    @media only screen and (max-width : 900px) {
      display: none;
    }
  }

}
#header h1.site_title {
  text-indent: 0%;
  padding-left: 20px;
  width: 31%;

  @media only screen and (max-width : 900px) {
    width: 70%;
  } 
  
img {
    height: 60px;
    margin-top: 1px;
    width: 270px;
    margin-left: 10px;
  }
}

#active_admin_content.without_sidebar #main_content_wrapper #main_content{
  margin-right: 30px;
  margin-left: 30px;
}

#active_admin_content.with_sidebar #main_content_wrapper #main_content{
  margin-right: 300px;
  margin-left: 30px;
}

.admin_post_creators, .admin_posts{
   #active_admin_content.without_sidebar #main_content_wrapper #main_content, {
    margin-right: 0px;
    margin-left: 0px;
  } 
}
 
#active_admin_content #sidebar{
  margin-left: -295px;
}
 

.admin_dashboard #active_admin_content.without_sidebar #main_content_wrapper #main_content{
  margin-right: 46px;
  margin-left: 88px;
  margin-top: 79px;
}



#header ul.tabs#tabs{
  padding: 10px 0px 0px 17px;
  li{
    border-bottom: solid 1px #f7f7f7;
    padding: 8px 0px 19px 0px;
    &.has_nested > ul > li > a{
      color: #333 !important;
      padding: 0px 0px 0px 12px;
      &:hover{
        color: #777 !important;
      }
    }
  }

  
}



#header ul.tabs > li:hover > a, #header ul.tabs > li.current > a {
    color: #333 !important;
    border-radius: 0;
    border-bottom: solid 3px #fbc800;
    background: #fffff8;
    padding-bottom: 18px;
    &:hover{
      color: #777 !important;
    }
}


  tr:nth-child(odd) {
      background-color:#f2f2f2;
  }
  tr:nth-child(even) {
      background-color:#fbfbfb;
  }
  .color-border-select{
  	color: #12BC99 !important;
  	border-color: #12BC99 !important;
  }
  .color-border-select-red{
    color: #ff374f !important;
    border-color: #ff374f !important;
  }

  #active_admin_content a.table_tools_button, #active_admin_content .dropdown_menu_button{
    border-radius: 5px !important;
    background: transparent;
    padding: 0px 15px;
    font-weight: 600;
    text-shadow: none;

  }
  
  .admin_posts #active_admin_content .table_tools, .admin_post_creators #active_admin_content .table_tools{
      height: 38px;
      min-width: 179px;
      background-color: #fbfbfb;
      padding: 10px;
      color: #b4b6b6;
      border-color: #e7e7e7;
      &:hover{
        background-color: #fff;
      }
    }

  .comments .download_links {
    color: #7f8c8d;
    font-size: 11px;
    padding: 10px;
    width: 12% !important;
   }

  .action_item a{
    color: #484e53;
  }
  #title_bar .action_items span.action_item > a{
    background-color: #fff;
    color: #484e53;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4;
    width: 178px;
    text-align: center;
  }

  form input[type=submit], a.button, a:link.button, a:visited.button{
    background-color: #ffff3;
    color: #484e53;
    box-shadow: 6px 6px 6px #cdcdcd;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c2c2;
  }

.cards, .index_as_block {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.card {
  flex: 0 1 24%;
  background: white;
  margin-right: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.admin_post_creators .container{
  width: 1252px; 
  margin-right: auto;
  margin-left: 18px;
}

.card-container {
  padding: 2px 16px;
}

.text-blue{
	color: #4957ae !important;
}

.text-color-grey{
	color: grey !important;
}

.text-color-darkgrey{
	color: darkgrey;
}

.text-color-red{
	color: #ff005e;
}

.padding-uncategorized{
	padding-left: 25px;
}
.text-medium{
  font-size: 10px;
}

.text-small-bold{
	font-size: 8px;
    font-weight: bold;
    font-family: sans-serif;
}

.text-medium-bold{
  font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.name-post{
  font-weight: bold;
  text-decoration: none !important;
}


.text-link-footer{
	font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.footer-style{
	background-color: #fff !important;
	text-align: center;
  padding: 15px 15px 15px 15px !important;
  height: 45px;
}

.stadistic-style{
	margin-top: 20px !important;
	padding-left: 10px;
}

.text-post-style{
  margin: 3px 19px 1px 15px;
  word-wrap: break-word;
  overflow: auto;
  max-height: 100px;
  font-family: sans-serif;
  font-size: 13px;
  text-align: justify;
}

text-post-style-empty{
  margin: 10px 15px 0px 17px;
}

.see-more-label{
  color: #777;
  margin-left: 19px;
  font-size: 12px;
  cursor: pointer;
}
.title-post-style{
  margin: 5px 0px 0px 15px;
  word-wrap: break-word;
  /*overflow: scroll;*/
  max-height: 40px;
  font-family: sans-serif;
  font-size: 10px;
  text-align: justify;
}
.add-post{
	background-image: asset_url("add_post.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100px;
  padding: 55px;
  margin-left: 30px;
}
.panel-body-link{
  border: 1.4px grey;
  border-style: dashed;
  height: 200px;
  padding-top: 85px;
  padding-left: 50px;	
}

.panel-body-link-post-creator{
  border: 1.4px grey;
  border-style: dashed;
  padding-top: 65px;
  padding-left: 50px;	
  background-color: transparent;
}

.select-show{
  display: inline-block;
  margin: 15px;
  font-family: sans-serif;
    label{
      color: #696B6A;
      font-size: 10px;
      font-weight: 600;
      margin-right: 10px;
    }
    select{
      color: #696B6A !important;
      border-color: #c2c2c2 !important;
      border-radius: 4px;
      margin-right: 5px;
      background-color: #fff;
      font-size: 12px;
    }
    .select-order{
      display: inline-grid;
      height: 30px;
      .icon-select{
        border: solid 1px #d8d8d8;
        width: 15px;
        position: absolute;
        height: 15px;
        background-color: #f4f4f4;
        margin: 7px 18px;
        z-index: 9999;
      }
      select{
        width: 60px;
      }
    }
    
}


.text-link{
	margin-top: 20px;
  color: grey;
}

.progress-style{
	margin-top: 10px;
}

.progress-bar-red{
	background-color: #ff005e;
}

.transp{
	opacity: 0;
}
.label{
	color: #5E6469 !important;
}

.admin_dashboard{
  #title_bar{
    display: none;
  }

}

.pagination{
  margin: 20px 50px !important;
  span.page.current{
    font-weight: 600;
    background-color: #fbc800;
    border-color: #fbc800;
    border-radius: 50%;
    padding: 10px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 15px;
  }
  span.page{
    margin-left: 6px;
    margin-right: 6px;
  }
  a{
    border: none;
    background: transparent;
    color: #b4b4b4;
    font-size: 14px;
    &:hover{
      color: #5c6469 !important;
      background: transparent !important;
    }
  }
  .first, .last{
    display: none;
  }
}

.comments .pagination {
  float: right !important;
  margin-top: 0px !important;
}
.comments .pagination_information{
  float: left;
  margin-top: -80px;
  color: #7f8c8d;
}

.logo-center-post-creator {
  width: 55% !important;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  border: solid 1px #c3c3c3;
  @media only screen and (max-width : 767px) {
    width: 12% !important;
  }
}

.name-post-creator{
  h4{
    text-align: center;
    font-weight: 600;
  }
  a{
    color: #4957ae;
    text-decoration: none;  
  }
  .text-canal-post-creator{
    text-align: center;
  }
  .text-cant-posts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 9px;
    border: solid 1px #ddd;
    width: 70%;
    border-radius: 30px;    
    text-align: center;
    
    a{
      color: #b9b9b9;
      &:hover{
        color: #5e6469;
      }
    }
    &:hover{
      background: #f4fbfa;
    }
  }
}

.footer-post-creator{
  border-top: solid 1px #ededed;
  background-color: #fff !important;
  text-align: center;
  padding: 0px 0px 0px 0px !important;
  margin-top: 15px;

  .border-left{
    border-right: solid 1px #ededed;
    height: 45px;
  }
  .border-right{
    border-left: solid 1px #ededed;
    height: 45px;
  }
  .text-footer{
    position:absolute;
    top: 12px;
    left: 43px;
    color: #777;
    @media only screen and (max-width : 767px) {
      top: 18px;
      left: 55px;
    }
  }
  img{
    @media only screen and (max-width : 900px) {
      width: 5% !important;
      height: 50% !important;
    }

  }
}

.column.small-column {
  width: 22.01% !important;
  margin-right: 2% !important;
  @media only screen and (max-width : 900px) {
    width: 100% !important;
  }
}

.column.small-column-corner{
  width:22.2% !important;
  margin-right: 3.3% !important;
  @media only screen and (max-width : 900px) {
    width: 100% !important;
  }
}


.column.medium-column {
  width: 47.2% !important;
  margin-right: 2.3% !important;
  @media only screen and (max-width : 900px) {
    width: 100% !important;
  }
}


.column.medium-column-der {
  width: 47.4% !important;
  @media only screen and (max-width : 900px) {
    width: 100% !important;
  }
}

.column.medium-column-der-up {
  width: 46.9% !important;
  @media only screen and (max-width : 900px) {
    width: 100% !important;
  }
}

.column.big-column {
  width: 96.4% !important;
  @media only screen and (max-width : 900px) {
    width: 100%! important;
  }
}

.column img{
  width: 100%;
}

.admin_dashboard .columns{
  margin-bottom: 6px !important;
}

.panel > h3 {
    background: #fff;
    color: #666;
    padding: 23px 20px;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    font-weight: 600;
    border-style: none none solid;
    font-size: 20px;
    margin-top: 0px !important;
}

.panel{
  box-shadow: 1px 2px 6px 0px #d4d4d4;
}

.panel-post:hover{
  background-color: #f4fbfa;
}

.category_panel{
  height: 235px;
}

table.index_table tr.even td, .panel_contents table tr.odd td{
  text-align: justify;
}

#title_bar {
    background: rgba(247, 213, 213, 0);
    text-shadow: none;
    border: none;
    padding: 15px 30px;
    box-shadow: none;
    margin-top: 82px;
    #titlebar_left, #titlebar_right{
      border-bottom: solid 1px #d4d4d4;
      padding-bottom: 20px;
    }
}


#active_admin_content {
    margin: 0;
    padding: 0px;
    padding-top: 4px;
}

.admin_dashboard #active_admin_content {
    margin: 0;
    padding: 0px;
    padding-top: 35px;
}


.top-container-show-post{
  margin-top: 30px;
}

form.filter_form .filter_form_field{
  padding: 14px;
}


.sidebar_section.panel form .buttons{
  margin: 0px 0px 0px 0px; 
}

.dashboard-panel-small{
  background-color: #fff;
  height: 130px;
  width: 100%;
  margin-bottom: 21px;
  padding: 18px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 0px #d4d4d4;
}

.width-panel-small-corner{
  margin-left: 6px;
}


.dashboard-panel-medium{
  background-color: #fff;
  height: 130px;
  margin-bottom: 15px;
  padding: 18px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 0px #d4d4d4;
}

.info-cant{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

.info-leyend{
  color: #828181;
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
}


table tr{
  background-color: #fff !important;
  border-left-style: hidden;
  border-right-style: hidden;
  &:hover{
    background-color: #f4f8fa !important;
  }  
}


table.index_table 
th {
  background: #fcfcfc;
  border-bottom: solid 1px #eee;
  border-top: hidden;
  padding: 16px;
  box-shadow: none;
  color: #a7a7a7;
  font-size: 13px;
  cursor: pointer;
  font-weight: initial;
  border-left: hidden;
  &:hover{
    color: #666;
  }
}

.columns-chart {
    margin-bottom: 40px;
}

.size-referesh img{
  width: 8%;
}

.content-grafic{
  background-color: #fff;
  padding: 1px 19px 20px 26px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 0px #d4d4d4;
  width: 99%;
}

.breadcrumb{
  background-color: rgba(247, 213, 213, 0);
  padding: unset;

}

.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active{
  color: #484e53;
}

#title_bar h2 {
  color: #59595c;
  margin: 0;
  padding: 0;
  font-size: 31px;
  line-height: 100%;
  font-weight: bold;
}


.shadow-box{
  box-shadow: 1px 2px 6px 0px #d4d4d4;
}

.left-align{
  text-align: left !important;
}

.panel-body-link-post-folder {
    border: 1.4px grey;
    border-style: dashed;
    padding-top: 57px;
    background-color: rgba(91, 183, 179, 0.14);
    padding-bottom: 50px;
    text-align: center;
    border-radius: 6px;
    a{
      color: #5e6469;
      font-weight: bold;
      text-decoration: none;
    }
}

.folder{
  a {
    color: #5e6469;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    }
}

.folder-li{
  cursor: pointer;
}

td .element-menu {
    margin-right: 0px !important;
    @media only screen and (max-width : 1200px) {
      margin-right: -25px !important;
    }
}

.element-menu {
    width: 35px;
    height: 40px;
    margin-left: 2px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 5px;
    float: right;
    margin-right: -25px;

    @media only screen and (max-width : 900px) {
      margin-right: -8px;
    }
}

.dni-menu{
  float: right;
  margin-top: -25px;
}


.dni-input-readonly{
  background-color: #c2c2c2;
  color: #777;
}

.punto{
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #c2c2c2;
    margin-top: 3px;
}

.linea{
  width: 23px;
  height: 3px;
  border-radius: 3px;
  background-color: #777;
  margin-top: 3px;
}

.link_menu{
  padding-top: 20px;
  cursor: pointer;
  padding-top: 18px;
  display: none;
  @media only screen and (max-width : 900px) {
    display: block;
  }
}

.ver-menu{
  @media only screen and (max-width : 900px) {
    display:table !important;
  }
}

body.logged_in .flash.flash_notice{
  display: none;
}

.img-menu-hover{
  position: absolute;
}

#line {
    border-right: solid 2px #5e6469;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 90px;
}

.shadow-menu{
  box-shadow: 2px 4px 4px 1px #e4e4e4;
  background-color: #fff !important;
}

.menu-td {
        position: relative !important;
        top: 0px !important;
        left: 0px !important;
        margin-left: 58px;
        margin-top: 5px;
      }

.menu-dropdown ul li:hover, .menu-td a:hover{
  background: #f4f4f4 !important;
}

.menu-dropdown {
    box-shadow: 2px 4px 4px 1px #e4e4e4;
    background-color: #fff;
    height: 65px;
    width: 175px;
    position: absolute;
    top: 34px;
    left: -123px;
    padding-top: 5px;
    font-size: 10px;
    z-index: 99;
    @media only screen and (max-width : 767px) {
      left: 1050px !important;
    }

    ul{
      margin-right: 7px;
      padding-left: 5px;
    }
    li {
      list-style: none;
      display: inline-block;
      width: 100%;
      border-radius: 3px;
    }
    a{
      text-align: left;
      text-decoration: none;
      float: left;
      color: #c2c2c2;
      padding: 2px;
      font-size: 15px;
      margin-left: 3px;
      &:hover{
        color: #777;
      }

    }
}
table.index_table td{
  
  a:hover{
  color: #333 !important;
  }  
}


.text-date-post{
  font-size: 12px;
  color: #777;
}

.link-list{
  a{
    color: #777;
    text-decoration: unset;
    &:hover {
      color: #fbc800;
      text-decoration: underline;
    }
  }
}

.menu-folders{
    background-color: #fff;
    height: 90px;
    width: 160px;
    position: absolute;
    top: 53px;
    border-radius: 10px;

}


.left-element{
  float:right;
  color: #777;
  width: 40%;
}


.col-links{
  width: 98%;
  margin: 23px;
  a{
    text-decoration: none;
    color: #777;
  }
}

table .header.headerSortDown{
  background-image: asset_url("down.png")!important;
  background-size: 8px !important;
}

table .header.headerSortUp{
    background-image: asset_url("up.png")!important;
    background-size: 8px !important;
}

table .header{
    background-image: asset_url("up-down.png") !important;
    background-repeat: no-repeat !important;
    background-position: left 4px center !important;
    background-size: 8px !important;
}
table .col-setting{
 background-image: none !important;

}
 


.left-element-table{
  float:right;
  color: #777;
  width: 19%;
}

._3j7q {
  background-image: asset_url("angry.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  margin-left: 40%;
}
._3j7l {
  background-image: asset_url("like.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  margin-left: 40%;
}
._3j7m {
  background-image: asset_url("love.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  margin-left: 40%;
}
._3j7r {
  background-image: asset_url("sad.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  margin-left: 40%;
}
._3j7n {
  background-image: asset_url("sorprende.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  margin-left: 40%;
}
._3j7o {
  background-image: asset_url("fun.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 100%;
  margin-left: 40%;
}

.text-item{
  margin-left: 20px;
    margin-top: -19px;
    margin-bottom: 18px;
}

.list-reaction{
  padding-top: 0px;
  padding-left: 10px;
  color: #666;
}

.gral-item{
  padding-right: 15px;
  padding-left: 20px;
}

.image-position{
  margin-left: 23% !important;
  margin-top: 10px;
}


.section > div, .panel > div.panel_contents{
    padding: 0px !important;
    margin-top: -5px;

    table th {
      padding-top: 2px;
      color: #777;
      text-transform: uppercase;
      border-bottom: 1px solid #eee;
      height: 47px;
      background-color: #fcfcfc;
      font-size: 11px;
      font-weight: initial;
      padding-left: 20px;
      cursor: pointer;
    }
    table tr {
      color: #777;
      border-bottom: 1px solid #eee;
      height: 47px;
      background-color: #ffffff;
      font-size: 12px;
      font-weight: normal;
      &:hover{
        background-color: #f4f8fa;
        color: #333;
      }
    }
    table td{
      padding: 25px 0px 25px 20px;
      vertical-align: middle;
    }
      
    #links{
        border-bottom: 0px;
        background-color: #ffffff;
        &:hover{
          background-color: unset;
        }   
      }

}

.panel > h3 {
  margin-bottom: 0px;
}

.col.col-post-creator{
  color: #7783c0;
}

.title-chart{
  font-size: 18px;
  font-weight: bold;
  color: #777;
}


.image-size{
  width:15%; 
  height: 13px; 
  position:absolute; 
  top:5px;
}

body.logged_out #login fieldset.actions {
  background: none !important;
}
body.logged_out #login > h2 {
  padding: 32px 155px;
  background: #f7f7f7;
  background-image: asset_url("social_linking_logo.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 101px;
  margin-right: -37px;
}

body.logged_out #content_wrapper #active_admin_content{
  width: 80%;
  border-radius: 8px;
  box-shadow: none;
  background: none;
  margin: 0px 79px 0px 0px !important;
  padding: 0px 50px 0px 50px !important;
}
body.logged_out #login a{
  display: none;
}

body.logged_out #login fieldset.actions li input{
  margin-left: 85px !important;
  background-color: #f6c23c;
  color: #fff;
  border-color: #f6c23c;
  box-shadow: none;
  height: 46px;
  &:hover{
    background-color: rgba(245, 178, 7, 0.64) !important;
  }
}

body.logged_out #login form fieldset.actions li{
  width: 50%;
}

body.logged_out #content_wrapper{
  margin-top: 83px;
  @media only screen and (max-width : 767px) {
    width: 460px;
    margin-top: 20%;
  }

}

#login{
  label{
    display: none;
  }
  fieldset.inputs input{
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #d5d5d5 !important;
    width: 100% !important;
    -webkit-text-fill-color: #9f9f9f;
    padding: 5px 14px;
  }
  .text-title-login{
    padding: 23px 0 16px;
    text-align: center;
    font-size: 17px;
  }
  form{
    background: #fff;
    width: 410px;
    padding: 5px 50px 0px 49px;
    height: 300px;
    fieldset.actions{
    padding: 14px 23px !important;
    margin: -5px -30px -17px !important;
    margin-top: -5px;
    input{
      padding: 11px 47px;
    }
    }
  }
}

.logged_out #login form fieldset li {
    padding: 5px 1px !important;
}


.header-coments, .header-reactions, .header-shared{
  font-size: 13px;
  height: 60px;
  padding-top: 12px;
  border-bottom: solid 1px #ddd;
  color: #afb1b7;
  font-weight: normal;
  ul{
    list-style-type: none;
    li{
      display: table-cell;
      cursor: pointer;
    }
    li:hover, .active{
      border-bottom: solid 2px #777;
      padding-bottom: 10px;
      font-weight: 600;
      color: #777;
    }
    .item{
        padding-right: 15px;
        padding-left: 15px;
      }
    .item-comment{
      color: #777;
      margin-left: 6px;
    }
    .item-category{
      color: #12BC99;
    }
    li.item-to-go-categorice a{
      color: #777;
      position: absolute;
      left: 88%;
      top: 5%;
      text-decoration: none;
    }
    .item-uncategorized{
    color: #ff374f;
    }
  }
}

.top-header{
    padding-top: 0px !important;
  }

#table_post_comments, #post_comments_index_table{
  .text-comment{
    margin: 12px 87px 15px;
    width: 70%;
    text-align: justify;
  }
  .category-name{
    float: right;
    padding-top: 4px;
    border: solid 2px #12BC99;
    padding-bottom: 4px;
    border-radius: 7px;
    color: #12BC99;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
  td{
     height: 75px;
  }
}


.scroll {
  overflow-y: auto;
  margin: 0 -8px;
  height: 466px;
  overflow-x: hidden;

}

.scroll2::-webkit-scrollbar {
  width: 5px;
}
 
.scroll2::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 50px;
}

.scroll2::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}


#table_post_comments td{
  background-color: #fff !important;
}

.pagination-comment{
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
  }

.cat-button{
    display: inline;
    margin-left: 12px;
    border: solid 2px;
    padding: 4px;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
}

.text-green{
  color: #12BC99;
}

.text-red{
  color: #ff374f;
}

.text-label-category{
  font-size: 10px;
  color: #b9b9b9;
  margin-left: 10px;
}

/********Style check********/

/* The container */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: solid 1px #ddd;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #d4d4d4;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 1px;
  top: 1px;
  width: 11px;
  height: 10px;
  border: solid #fbc800;
  border-radius: 3px;
  border-width: 10 3px 3px 0;
  height: 11px;
  background-color: #fbc800;
}


.InputAddOn {
  display: flex;
}

.InputAddOn-item {
  background-image: asset_url("check.png");
  background-size: 16px;
  background-repeat: no-repeat;
  width: 10%;
  margin-left: -24px;
  margin-top: 5px;
  cursor: pointer;
  &:hover{
    background-image: asset_url("green-check.png");
    background-size: 20px;
    margin-top: 3px;
  }
}

.InputClose-item {
  background-image: asset_url("close-icon.png");
  background-size: 14px;
  background-repeat: no-repeat;
  width: 10%;
  margin-left: -44px;
  margin-top: 7px;
  cursor: pointer;
  &:hover{
    background-image: asset_url("red-close.png");
    background-size: 20px;
    margin-top: 3px;
  }

}

#header #utility_nav li#logout{
  background-image: asset_url("exit.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 20px;
  overflow:hidden;
  a{
    color: transparent !important;
    &:hover{
      background-color: rgba(255, 255, 243, 0.45);
    }
  }
}


.download_links, .comments_download_links, .posts_download_links, .posts_creator_download_links, .facebook_users_download_links, .download_links_post_comments {
  color: #7f8c8d;
  font-size: 12px;
  margin-left: 32px;
  a{
    border: solid 1px #cdcdcd;
    padding: 6px;
    background-color: #fff;
    color: #666;
    padding-left: 25px;
    padding-right: 20px;
    text-decoration: none;
    background-image: asset_url("download.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 11px;
    margin-right: -3px;
    margin-left: -1px;
    box-shadow: 1px 2px 6px 0px #d4d4d4;
    border-radius: 5px;
    &:hover{
      background-color: #d4d4d4;
      color: #666;
    }
  }
}

 


.admin_posts .download_links, .admin_post_creators .download_links, .admin_facebook_users #index_footer .download_links, .admin_post_comments .download_links {
  display: none;
}

.admin_posts .comments_download_links {
  margin-top: -33px;
  margin-bottom: 17px;
  float: right;
  margin-right: 3px;
}

.admin_posts .posts_download_links {
  float: right;
  margin-top: -55px;
  margin-right: 18px;
}

.admin_posts .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 16px;
  width: 1255px;
}

.index_as_table > .container {
  width: 100%;
}

.facebook_users_download_links {
  float: right;
  margin-top: 22px;
}

.admin_post_comments{
  .download_links_post_comments {
   float: right;
    width: 10% !important;
    margin-top: 26px;
    @media only screen and (max-width : 1198px) {
      width: 30% !important;
    }
  } 
  #main_content{
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .pagination_information{
    float: left;
    margin-left: 30px;
    color: #777;
  }

}


/* Se oculta el boton por defecto del download porque hay otro en otra posicion */
#index_footer.admin_post_comments .download_links {
   display: none;
  } 
 

.admin_posts .export_comments{
    top: 210px !important;
  }

.admin_posts{
  .panel-heading .img-post-creator{
    width: 80% !important;
    @media only screen and (max-width : 767px) {
      width: 15% !important;
    } 
  }  

  .panel-heading .element-menu{
    margin-right: -9px;
    @media only screen and (max-width : 767px) {
      margin-top: -128px;
    } 
  }
  .panel-heading .menu-show-post{
    margin-right: -35px !important;
    @media only screen and (max-width : 767px) {
      margin-top: -128px;
      margin-right: -9px !important;
    } 
  }
  .panel-heading .menu-dropdown{
    left: -148px;
    @media only screen and (max-width : 767px) {
      left: 1042px !important;
      top: -100px;
    }
  }
  .panel-heading .dropdown-show-post{
    left: -123px !important;
    @media only screen and (max-width : 767px) {
      left: 1042px !important;
      top: -100px;
    }
  }
  .panel-body .icon-post{
    width: 15%;
    @media only screen and (max-width : 767px) {
      width: 3% !important;
    }
  }

  .panel-body .icon-post-share{
    width: 15%;
    @media only screen and (max-width : 767px) {
      width: 7% !important;
    }
  }

  .img-shared{
    width: 30%;
    @media only screen and (max-width : 767px) {
      width: 13% !important;
    }
  }


  .panel-body .div-info{
    display: table-cell;
    @media only screen and (max-width : 767px) {
      margin-bottom: 8px;
    }
  }
  .panel-body .position-info{
    margin-left: 27px;
    margin-top: -20px;
    @media only screen and (max-width : 767px) {
      margin-left: 24px;
    }
  }  
}
  

#index_footer {
    padding-top: 5px;
    text-align: right;
    font-size: 0.85em;
    padding-right: 32px;
}

.img-order{
  width: 3%; 
  height: 30px;cursor: pointer; 
  display: inline-block;
  padding:5px;
  &:hover{
    background-color: #fff; 
    border-radius: 50%;
  }
  
}

body.logged_out .flash{
  display: none;
}


  
.breadcrumb {
    padding: 8px 4px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #f7f7f7;
    border-radius: 4px;
    text-transform: none;
    font-size: 0.7em !important;
}

table tr:nth-child(odd), tr:nth-child(even), table.index_table tr.even td{
    background-color: #fff !important;
    border-left-style: hidden;
    border-right-style: hidden;
    a{
      text-decoration: none;
    }
}

.sidebar_section.panel form{
  .buttons{
    background: #fcfcfc;
  }
  input[type=submit]{
    color: #b9b9b9;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    &:hover{
      color: #777;
    }
  }
  a.clear_filters_btn{
    border-radius: 6px !important;
  }
  select{
    height: 38px;
    background-color: #fbfbfb;
    border-color: #e4e4e4;
    color: #666;
  }
} 

table.index_table th.sorted-asc, table.index_table th.sorted-desc{
  background-color: #fcfcfc !important;
  background-image: none !important;
}

table tr:nth-child(odd):hover, tr:nth-child(even):hover{
  background-color: #f4f8fa !important;  
}

#table_post_reactons, .admin_posts #table_post_shared, .admin_posts #table_post_comments{
  tr:nth-child(odd), tr:nth-child(even){
    background-color: #fff !important;
    height: 90px;
    border-left-style: hidden;
    border-right-style: hidden;
  }
}

.refresh-butom{
  color: #7f8c8d;
  font-size: 12px;
  display: inline-block;
  a{
    background: #fff;
    background-image: asset_url("refresh.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 25px;
    display: inline;
    margin-left: 15px;
    border: solid 1px #d4d4d4;
    border-radius: 5px;
    padding: 8px 40px 9px 25px;
  }
    
}

.modal-content{
  width: 81.4%;
  .modal-header{
    height: 61px;
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
    font-size: 18px;
    color: #59595c;
    .close{
      margin-top: -2px;
      font-size: 30px;
      &:hover{
        background: transparent;

      }
    }
  }
  .content{
   padding: 5%;
   height: auto;
    @media only screen and (max-width : 900px) {
      padding: 9% !important;
    }
  }
  #keywords{
    background-color: #fcfcfc;
    width: 100%;
    min-height: 50px;
    border: solid 1px #f4f4f4;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .div-words{
    width: min-content;
    background-color: #fff;
    border: solid 1px #b9b9b9;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    display: inline-table;
    text-transform: uppercase;
    color: #59595C;

    .close-div{
      display: table-cell;
      color: #b1b0b0;
      padding-left: 10px;
      font-weight: 600;
      cursor: pointer;
      &:hover{
        color: #777;
      }
    }
  }
  label{
    display: table;
    color: #989898 !important;
    font-weight: 600;
    font-size: 13px;
  }
  form{
    li{
      display: grid;
    }
    select{
      height: 38px;
      background-color: #fff;
      border-color: #e4e4e4;
      color: #666;
    }
    #post_comment_date_to_input{
      margin-top:23px;
    }
    [type="submit"] {
      -webkit-appearance: button;
      background: #fbc800;
      border-radius: 3px;
      border-color: #fbc800;
      color: #fff;
      text-shadow: none;
      width: 28%;
      height: 48px;
      &:hover{
        background: rgba(251, 200, 0, 0.61);
      }
      @media only screen and (max-width : 767px) {
        width: 50% !important;
      }
    }
    input[type=date]{
      background-image: asset_url("calendar.png");
      background-position: 12px;
      padding-left: 35px;
      background-repeat: no-repeat;
      background-size: 16px;
    }
    #clear-filter{
      background: none;
      color: #fbc800;
      border: none;
      text-shadow: none;
      box-shadow: none;
      text-decoration: underline;
    }
    .checks{
      padding: 10px;
      label{
        display: inline;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 15px;
        color: #59595c !important;
      }
      input[type="checkbox"]{
        width: 20px;
        height: 20px;
      }
      .check-modal{
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border-color: #bcbcbc;
      }
      .check-container .check-modal:after{
        height: 16px;
        width: 16px;
      }
    }

    .inputs-responsive{
      @media only screen and (max-width : 767px) {
        width: 100% !important;
      }
    }
    
  }
}





